/* Profile */
.profile {
    // border: none;
    border: 2px solid $text-color;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    width: 20%;
}

.left {
    float: left;
}

.right {
    float: right;
}

// adjust tile sizes on smaller screens
@include media-query($on-phone) {
  @media screen and (max-width: $on-phone){

    .profile {
      width: 30%;
      margin-bottom: 0rem;
      margin-top: 0.4rem;
      margin-right: 1rem;
    }
  }
}
