html, body {
  height: 100%;
}

body {
  max-width: $content-width;
  font-family: $base-font-family;
  margin: 0 auto;
  line-height: $base-line-height;
  font-size: $base-font-size;
  color: $text-color;
  background-color: $body-bg;
  padding: 2em 1em;
  text-rendering: optimizeLegibility;
  height: 100%;

  @media (prefers-color-scheme: dark) {
    background-color: $body-bg-dark;
    color: $text-color-dark;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  line-height: 1.8;
  margin: 0;
  text-transform: inherit;
}


a {
  color: $brand-color;
  // text-decoration: none;
  &:hover{
    color: $text-color;

    @media (prefers-color-scheme: dark) {
      color: $text-color-dark;
    }

  }
}



// p a {
//   color: $brand-color;
//   background: -webkit-linear-gradient(transparent 90%, lighten($brand-color, 0%) 10%);
//   background: -moz-linear-gradient(transparent 90%, lighten($brand-color, 0%) 10%);
//   background: linear-gradient(transparent 90%, lighten($brand-color, 0%) 10%);

//   -webkit-box-shadow: inset 0 0 0 0 lighten($brand-color, 0%);
//   box-shadow: inset 0 0 0 0 lighten($brand-color, 0%);


//   -webkit-transition: ease 1s;
//   -moz-transition: ease 1s;
//   transition: ease 1s;
//   &:hover {
//     color: lighten($background-color, 0%);
//     -webkit-box-shadow: inset 0 -100px 0 0 lighten($brand-color, 0%);
//     box-shadow: inset 0 -100px 0 0 lighten($brand-color, 0%);

//   }

//   @media (prefers-color-scheme: dark) {
//     color: $text-color-dark;
//   }
// }


figure {
  margin: 0;
}

img {
  max-width: 100%;
}

pre,
code {
  overflow: auto;
  font-size: 0.7*$base-font-size;
  border-radius: 3px;
  border: 1px solid $brand-color;
  > code {
    border: none;
  }
}

pre {
  padding: 1em;
}

code {
  padding: 0.1em;
}

blockquote {
  border-left: 2px solid $brand-color;
  padding-left: 1em;
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 0.9*$base-font-size;
  font-style: italic;
}


.headline, .post-headline {
  font-size: 2em;
  margin-bottom: -0.4em;

  @include media-query($on-palm) {
    font-size: 1.5em;
  }
}


/* Add video class for iframes to make them responsive */
.video {
  width: 100%;
}

/* Add video class for iframes to make them responsive */
.video {
  width: 100%;
  height: 360px;
  @include media-query($on-laptop) {
    height: 300px;
  }
  @include media-query($on-palm) {
    height: 180px;
  }
}

/* Horizontal Divider */
.divider {
  margin: 1em;
}

/* Horizontal scrolling navbar. From: https://iamsteve.me/blog/horizontal-scrolling-responsive-menu */
.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; 

  border: 2px solid $highlight-color;
  border-radius: 5px;
  padding: 0.5em;
  display: flex;
  // justify-content: space-between;
  gap: 2em; /* Adjust as needed */
  overflow: scroll;    

}

.scroll::-webkit-scrollbar {
  display: none;
}

// adjust tile sizes on smaller screens
@include media-query($on-phone) {
  @media screen and (max-width: $on-phone){

    .scroll {
      // width: min-content;
      gap: 0.5rem;
    }
  }
}



/* Button */
.simplebutton {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 13px 23px;
  border: 1px solid #222222;
  transition: 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: #fff;
  color: #222222;
  :hover {
      border-color: #000000;
      background: #f7f7f7;
  }
}

/* Article list in blog and archive page */
.article-list {
  margin: 1em 0;
}

.post-head {
  color: $text-color;
  
  border: 2px solid $text-color;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1rem;
}

.post-description {
  font-weight: bold;
}

strong {
  color: $brand-color;
  
}

// a {
//   // font-weight: bold;
//   color: $highlight-color;
//   text-decoration: none;
  
//   &:hover {
//     color: $text-color;
//     }

    

//   -webkit-box-shadow: inset 0 0 0 0 lighten($brand-color, 0%);
//   box-shadow: inset 0 0 0 0 lighten($brand-color, 0%);
//   border-radius: 1px;


//   -webkit-transition: ease 1s;
//   -moz-transition: ease 1s;
//   transition: ease 1s;
//   &:hover {
//     color: lighten($background-color, 0%);
//     -webkit-box-shadow: inset 0 -100px 0 0 lighten($brand-color, 0%);
//     box-shadow: inset 0 -100px 0 0 lighten($brand-color, 0%);
//     border-radius: 1px;

//   }

// }

.links a {
  text-decoration: none !important;
  font-weight: bold;
}

hr {
  border: 0;
  // margin: 1em 0;
  // border-top: 2px solid $highlight-color;
}

ul {
  padding-left: 1rem;
}

h4 {
  color: $highlight-color;
}

h2 {
  color: $title-color;
}

h2 a, .links a {
  color: $highlight-color;
  transition: none;
  box-shadow: none;
}

h2 a, .links a {
  &:hover {
    color: $text-color;
    box-shadow: none;
  }
}

/* Pagination style in index/home page */
.pagination {
  margin: 2em 0;
  text-align: center;

  a {
    box-shadow: none;
    transition: none;
    &:hover {
      background-color: transparent;
      color: $text-color;
      box-shadow: none; 
    }
    text-decoration: none !important;
  }

  a, span {
    padding: 7px 18px;
    border: 2px solid #999;
    border-radius: 5px;
    
    margin-left: -4px;
    margin-right: -4px;
    background-color: transparent;
    display: inline-block;
  }
}

#newstable {
  
  border: 2px solid $text-color;
  border-radius: 5px;

  hr {
    border: 0;
    margin: 1em 0;
    border-top: 2px solid $text-color;
  }

  td b {
    // color: $highlight-color;
  }
}

em {
  font-style: normal;
  color: $highlight-color;
}

.button {
  // display: inline-block;
  padding: 0.5em;
  font-size: 0.8em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: $text-color; // Use the same text color as the rest of your site
  // background-color: $highlight-color; // Use a primary color from your site's color scheme
  border: 2px solid $text-color;
  border-radius: 5px; // Use the same border radius as other elements on your site
  // box-shadow: 0 2px darken($text-color, 20%);
}

.button:hover {
  background-color: $text-color;
  color: $background-color;
}

.button:active {
  box-shadow: none;
  transform: translateY(2px);
}
