$base-font-family: 'Roboto Mono', Arial, sans-serif;
$base-font-size:   13px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6;

$spacing-unit:     50px;
$light-gray: #555;
$text-color:       rgb(0, 220, 220);
$background-color: #222;
// $brand-color:      #07c;
$projectbox-text:  #1e2126;
$highlight-color:  rgb(220, 220, 0);
$brand-color:      $highlight-color;

// Color scheme for light
$body-bg: #222;
$projectbox: #23272d;
$text-color: #0ff;

// Color scheme for dark modes
$body-bg-dark: #222;
$projectbox-dark: lighten(#98a0ac, 2%);
$text-color-dark: #0ff;
